.text h1 {
    font-size: large;
    padding-left: 10%;
    padding-right: 10%;
    padding-top:10%;
}

.overlay {
    position: absolute;
    top: -1px;
    bottom: 0;
    left: -1px;
    right: 0;
    height: 15rem;
    width: 15rem;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
}

.photo-container {
    position: relative;
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    display: block;
    background-size: cover;
    border-radius: 0;

}

.photo-container:hover .overlay {
    opacity: .9;
}

small {
    font-size: small;
}

.text {
    color: #57a7a7;
    font-size: 1rem;
    position: absolute;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
}

.hoverright {
    position: absolute;
    top: 5%;
    right: 5%;
}
