/*
.text p {
    font-size: large;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}
*/

.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    /*    width: 15rem;*/
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
}

.overlay-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo-container {
    position: relative;
    margin: 1rem;
    height: 15rem;
    display: block;
    background-size: cover;
    border-radius: 0;

}

.photo-container:hover .overlay {
    opacity: .9;
}

small {
    font-size: small;
}

.text {
    color: #57a7a7;
    font-size: 1rem;
    position: absolute;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
}

.hoverright {
    position: absolute;
    top: 5%;
    right: 5%;
}

.hover-bottom-right {
    position: absolute;
    bottom: 5%;
    right: 5%;
}
