@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import 'https://fonts.googleapis.com/css?family=Sacramento';
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #DDD;
    opacity: 1;
    /* Firefox */
}

/*icons in profile page*/

#inked-icon {
    float: right;
}

#ideas-icon,
#inked-icon {
    font-size: 30px;
}

#ideas-icon:hover,
#inked-icon:hover {
    border-bottom: 4px solid white;
    color: #57a7a7;
}

/*post-content on ideas pg*/

#post-content-input {
    width: 130px;
    font-family: "Poppins", sans-serif;
    -webkit-transition: width 0.3s ease-in-out;
}

#post-content-input:focus {
    width: 100%;
    -webkit-transition: width 0.5s ease-in-out;
}


/*customizes font of profile name, idea title, gallery title, inkspire in about pg*/

.h1,
h1 {
    font-family: Sacramento;
    font-size: 4.5rem;

}

/*cursor changes on profile button links*/

.profile-links {
    cursor: pointer;
}

.trash-link {
    color: black;
}

.trash-link:hover {
    color: #57a7a7;
}

/*margin for navbar*/

.navbar-brand {
    margin-left: 10%;
}

/*bg color for gallery posts*/

.card-header {
    background-color: #f7f7f900;
    border-bottom: rgba(0, 0, 0, 0);
    padding: 0rem;
    margin-bottom: 0.25rem;
}

.card-img {
    border-radius: 0;
    max-height: 15rem;
    height: 100%;
    width: auto;
    overflow: hidden;
}

/*shadow for navbar items, post ideas in cards*/

.shadow {
    color: white;
    /*
    text-shadow: 1px 1px #464a4c8a,
    2px 2px #464a4c4a;
    3px 3px #464a4c40;
*/
    -webkit-transition: all 0.12s ease-out;
    -moz-transition: all 0.12s ease-out;
    -ms-transition: all 0.12s ease-out;
    -o-transition: all 0.12s ease-out;
}

.shadow:hover {
    color: white;
    position: relative;
    top: -3px;
    left: -3px;
    text-shadow: 1px 1px #464a4c8a,
    2px 2px #464a4c4a;
    3px 3px #464a4c40;
    /*    4px 4px #AADDDD,*/
    /*
    5px 5px #AADDDD,
    6px 6px #AADDDD;
*/
}

/*shadow behind text post cards*/

.box {
    transition: box-shadow .3s;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;

}

.box:hover {
    box-shadow: 0 0 20px rgba(33, 33, 33, .2);
}

/*customizes text inside idea posts*/

p {
    overflow-wrap: break-word;
    margin-bottom: 0.75em;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    line-height: 1.5em;
    color: #999;
}



/*inked icon on idea posts accessible*/

.card-link {
    color: #464a4c;
}

.fa-paint-brush:hover {
    font-size: 1em;
}

.card-link:hover {
    font-weight: bold;
    font-family: sacramento;
    font-style: italic;
    font-size: 2em;
    color: #464a4c;
}

.card-title {
    margin-bottom: 0.25rem;
}

/*inks,posts gallery profile*/

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 20%;
    margin-right: 20%;
}


/*both post creators accessible in cards*/

.post-creator {
    font-size: .8em;
    margin: 0;
    padding: 0;
}

.post-creator:hover {
    text-decoration: underline;
}


/*customizes cards in posts*/

.card {
    padding: 1em 1.25em 0em 1.25em;
    border: 0;
}

.card-footer {
    text-align: right;
    background-color: white;
    color: lightgray;
    font-style: italic;
    padding-top: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0em;
    padding-right: 0.25em;

}

}

#post-maker {
    min-width: 200px;
    min-height: 5vh;
}

#search-box {
    margin-left: 40px;
}

#post-maker-textbox {
    min-width: 250px;
    min-height: 5vh;
}


.post-text-display {

    width: 500px;
}

#navbar {
    /*    min-width: 800px;*/
    min-height: 5vh;
    margin-bottom: 4rem;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

@media (min-width: 992px) {
    .navbar-toggleable-md .navbar-collapse {
        margin-right: 10%
    }
}


body {
    font-family: 'Poppins', sans-serif;
    background: #b5cccc45;
}

button {
    border: 0px;
    cursor: pointer;
}

.btn {
    font-family: 'Poppins', sans-serif;
    background-color: #AADDDD;
}

/*inked button*/

.btn-success {
    color: white;
    border-color: #aaddc1;
    background-color: #aaddc1;
}

.btn-success:hovertr {
    color: white;
    border-color: #5cb85c;
    background-color: #5cb85c;
}

.btn-danger {
    color: white;
    border-color: #ecb5b8;
    background-color: #ecb5b8;
}

.btn-primary {
    color: white;
    border-color: #aadddd;
    background-color: #AADDDD;
}

.btn-primary:hover {
    color: #AADDDD;
    background-color: white;
    border-color: #AADDDD;
    cursor: pointer;
}

.btn-outline-primary {
    color: white;
    border-color: #AADDDD;
    background: #AADDDD;
}

.btn-outline-primary:hover {
    color: #AADDDD;
    background-color: white;
    border-color: #AADDDD;
}

/*secondary is cancel button*/

.btn-secondary {
    color: white;
    border-color: #ccc;
    background-color: #ccc;
}

.btn-secondary:hover,
focus {
    color: white;
    border-color: #636c72;
    background-color: #636c72;
}


a,
a:hover,
a:focus {
    text-decoration: none;
    transition: all 0.3s;
}




ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.submit {
    cursor: pointer;
}

/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 100%;
}

/*.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}*/

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#profile-picture {
    /* make it responsive */
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    /* div height to be the same as width*/
    padding-top: 100%;

    /* make it a circle */
    border-radius: 50%;

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.large-profile-container {
    padding: 0 35%;
}

.item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-transition: background-color .55s ease-in-out;
    transition: background-color .55s ease-in-out;
}

.item__overlay:focus,
.item__overlay:hover {
    background-color: rgba(255, 255, 255, 0.0);
    cursor: auto;
}

.item__overlay:focus > button,
.item__overlay:hover > button {
    opacity: 1;
}

.photo-holder {
    margin: 40px 40px;
}

.grid__sizer,
.grid__item {
    position: relative;
    width: 32%;
    min-width: 16.25rem;
}

.grid__item {
    margin-bottom: .9375rem;
    border-radius: 0.25rem;
    overflow: hidden;
}

.grid__item--high,
.grid__item--high img {
    height: 480px;
}


.masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: white;
    background-color: #AADDDD;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.masthead .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.masthead .intro-body .brand-heading {
    font-size: 50px;
    margin-top: 10px;
}

.masthead .intro-body .intro-text {
    font-size: 18px;
    margin-bottom: 50px;
}



@media (min-width: 768px) {
    .masthead {
        height: 100%;
        padding: 0;
    }
    .masthead .intro-body .brand-heading {
        font-size: 100px;
    }
    .masthead .intro-body .intro-text {
        font-size: 22px;
    }

}


@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        width: 60%;
        /*padding-top: 0.5em;*/
    }
}

small {
    font-size: small;
    color: darkgray;
    line-height: 1.2em;

}

#mainNav {
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
    background: #93d2d2b3;
}

#mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: #000;
    border: 1px solid #fff
}

#mainNav .navbar-brand {
    font-weight: 700
}

#mainNav a {
    color: #000;
}

#mainNav .navbar-nav .nav-item {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: 0;
    background-color: transparent
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: 0;
    background-color: transparent
}

.navbar-collapse.collapse.in {
    display: block!important;
}

@media (min-width:992px) {
    #mainNav {
        /*
        padding-top: 20px;
        padding-bottom: 20px;
*/
        -webkit-transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
        -moz-transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
        transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
        letter-spacing: 1px;
        border-bottom: none;
        background: #93d2d2b3;
    }
    #mainNav.navbar-shrink {
        padding-top: 0em;
        padding-bottom: 0em;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        background: #000
    }
    #mainNav .nav-link.active {
        outline: 0;
        background-color: rgba(255, 255, 255, .3)
    }
    #mainNav .nav-link.active:hover {
        color: #fff
    }
}


/*MODAL ZOOM*/

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(255, 255, 255);
    /* Fallback color */
    background-color: rgba(255, 255, 255, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-width: 700px;
    max-height: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: Sacramento
}

/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
    color: #444;
    font-weight: 200;
    font-size: 2.5rem;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #444;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.dropdown-toggle {
    background-color: transparent;
    color: gray;
    margin-top: 1em;
    border: 0;
}

footer {
    padding: 50px 0
}

footer p {
    font-size: 14px;
    margin: 0
}

.hover-bottom-left {
    position: absolute;
    bottom: 5%;
    left: 1em;
}

.like-button {
    color: #f5bcd5;
}
