<!DOCTYPE html>
<html lang="en">

<head>
    <title>inkspire | login</title>
    
    <meta name="google-signin-client_id" content="172348966049-b12sa3j7umgfse44e61qb1t5cf6vb710.apps.googleusercontent.com">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!--local dependencies-->
    <link rel="stylesheet" href="static/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>
    <!--navbar-->
    <div id="navbar">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded sticky-top">
            <a class="navbar-brand" style="padding-left: 1em;" href="posts.html">inkspire</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav navbar-right ml-auto">
                    <li>
                        <a class="nav-item nav-link" href="about.html">About</a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" href="#">Gallery</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    
    <div id="signin">
        <div class="g-signin2" data-onsuccess="onSignIn" href='/auth/google'></div>
    </div>


  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

</body>
<!-- scripts here-->
<script>

</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</html>