<!DOCTYPE html>
<html lang="en">

<head>
    <title>inkspire | gallery</title>

    <link rel="icon" href="/static/logo.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <!--local dependencies-->
    <link rel="stylesheet" href="/static/css/hovereffect.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
    <!--navbar-->
    <div id="navbar" class="gallery">
    </div>
    <h1 class='text-center' style="margin-top: 20px;margin-bottom: 20px">gallery</h1>
    <div id="photo-holder" class='card-columns' style="margin: 2rem 20% 0 20%;">
    </div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- scripts here-->
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.182.0.min.js"></script>
<script src="/static/js/api.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/gallery.js"></script>
<script src="/static/js/photo.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

<script src="./static/js/vendor/grayscale.min.js"></script>

</html>
