<!DOCTYPE html>
<html>

<head>
    <Title>inkspire | ideas </Title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/logov6.png">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


    <!--local dependencies-->
    <link rel="stylesheet" href="/static/css/hovereffect.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">


</head>

<body>
    <div id="navbar" class="ideas">
        <!--nav bar items inserted here-->
    </div>

    <div id="post-container">
        <!-- text idea inserted here   -->
    </div>

    <div id="post-inks" class='clearfix row justify-content-center' style="margin: 2rem 10% 0 10%">
        <!-- photos inserted here -->
    </div>
    <div id="imageModal" class="modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.getElementById('imageModal').style.display='none'">
          <span aria-hidden="true">&times;</span>
        </button>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    <footer>
        <div class="container text-center" style="margin-top: 10rem;">
            <p>Copyright &copy; team boop 2018</p>
        </div>
    </footer>
</body>
<script>
    // Get the modal
    var modal = document.getElementById('imageModal');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="/static/js/api.js"></script>
<script src="/static/js/navbar.js"></script>
<script src='/static/js/idea.js'></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/static/js/vendor/grayscale.min.js"></script>

</html>
