<!DOCTYPE html>
<html>

<head>
    <Title>inkspire | ideas </Title>

    <link rel="icon" href="/static/logo.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <!--local dependencies-->
    <link rel="stylesheet" href="/static/css/hovereffect.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">


</head>

<body>
    <div id="navbar" class="ideas">
        <!--nav bar items inserted here-->
    </div>
    <div class="container-fluid" id="post-container" style="padding-top:20px; width:80%"></div>
    <div class="card-columns" id="post-inks" style="margin: 2rem 10% 0 10%"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="/static/js/api.js"></script>
<script src="/static/js/navbar.js"></script>
<script src='/static/js/idea.js'></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="./static/js/vendor/grayscale.min.js"></script>

</html>
