<!DOCTYPE html>
<html lang="en">

<head>
    <title>inkspire | posts</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css"> 
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

</head>
<style>
    .container{
        padding-top:40px;
    }
    .container-fluid{
        padding-left:0px;
        padding-right:0px;
    }
    </style>
<body>
    <!--navbar-->
    <!--make post-->
    <div id="navbar" class="ideas">
    </div>


    </div>
     <div class="container">
        <div class="container-fluid">
            <div id='new-post'>
            </div>
        </div>

        <div id="posts" class="d-flex flex-wrap"></div>
        <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">upload</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input id="photoupload" type="file" accept="image/*">
                        <button type="button" class="btn btn-outline-primary"><i class="fa fa-upload"></i> choose file</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="addphoto" data-dismiss="modal" onclick="addPhoto()"> ink it!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>


<script src="https://sdk.amazonaws.com/js/aws-sdk-2.182.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/api.js"></script>
<script src="/static/js/gallery.js"></script>
<script src="/static/js/photo.js"></script>
<script src="/static/js/feed.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/posts.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<!--
<script>
    document.getElementById('ideas').classList.add('active');
</script>
-->

</html>
