<!DOCTYPE html>
<html>

<head>
    <Title>inkspire | profile </Title>

    <link rel="icon" href="/static/logo.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <!--local dependencies-->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/hovereffect.css">


</head>

<body>
    <div id="navbar" class="profile">
        <!--nav bar items inserted here-->
    </div>
    <div class="container-fluid" id="profile-container">
        <div class="d-flex flex-row justify-content-center">
            <div class="float-left" id="profile-picture"></div>
            <div class="float-right align-self-center">
                <div id="name-container">
                    <!--name inserted here-->
                </div>
                <!--<h1>username</h1>-->
                <p>#digital #fanart</p>
            </div>
        </div>
        <hr class="my-4" />
    </div>
    <div>
        <a name="gallery">
            <h2 class="text-center">Gallery</h2>
        </a>

        <div class="d-flex justify-content-around" style="padding-bottom: 20px">
            <a id='inked-icon' onclick="showhide(this.id)" style='border-bottom: 4px solid #DDDDDD' href="#gallery"><i class="fa fa-paint-brush" aria-hidden="true" style="font-size: 30px" alt="Inks"></i></a>
            <a id='ideas-icon' onclick="showhide(this.id)" href="#gallery"><i class="fa fa-lightbulb-o" aria-hidden="true" style="font-size: 30px" alt="Ideas" ></i></a>
        </div>
        <div class="container-fluid" id='gallery-container'>
            <div class="card-columns" id="user-ideas" style="display:none; margin: 2rem 10% 0 10%;"></div>
            <div class="card-columns" id="user-inks" style="margin: 2rem 10% 0 10%;"></div>
        </div>
    </div>

    <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="photoupload" type="file" accept="image/*">
                    <button type="button" class="btn btn-outline-primary"><i class="fa fa-upload"></i> choose file</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addphoto" data-dismiss="modal" onclick="addPhoto()">upload</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function showhide(id) {
        if (id == 'ideas-icon') {
            document.getElementById('ideas-icon').style.borderBottom = '4px solid #DDDDDD';
            document.getElementById('inked-icon').style.borderBottom = '0px';

            document.getElementById('user-inks').style.display = 'none';
            document.getElementById('user-ideas').style.display = 'block';
        } else {
            document.getElementById('inked-icon').style.borderBottom = '4px solid #DDDDDD';
            document.getElementById('ideas-icon').style.borderBottom = '0px';
            document.getElementById('user-ideas').style.display = 'none';
            document.getElementById('user-inks').style.display = 'block';
        }

    }

</script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.182.0.min.js"></script>
<script src="/static/js/api.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/profilephoto.js"></script>
<script src='/static/js/profile.js'></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
